/* Text */
body {
  color: darkgoldenrod;
  font-size: 16px;
  font-family: 'Abhaya Libre', serif;}
nav, footer {
  font-family: 'Josefin Slab', serif;}
h1 {
  color: #FFB300;
  font-family: 'Abhaya Libre', serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;}
nav a {
  color: #FA7A7A;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;}
footer p, footer a {
  color: beige;
  font-size: 1rem;}
section.home span {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
  color: floralwhite;
  font-size: 2.15rem;
  font-weight: bold;
  line-height: 41px;
  padding: 10px; 
  position: relative;
  text-align: left;
  top: 200px;}
.project { 
  text-align: center;}
.intro { 
  line-height: 25px;}

/* Layout & Style */
header {
  text-align: center;
  word-spacing: 3em;}
a span { 
  word-spacing: normal;}
body { 
  background-color: floralwhite;}
footer { 
  background-color: #FFB300;
  clear: both;
  line-height: 15px;
  padding: 0.2px;}
a.navbar:hover {
  color:darkred;
  text-decoration: underline;}
.header-picture {
  margin:0.7rem;}

/* Home Background*/
section.home {
  min-height: 500px;
  background-image: url(../images/homebackground.jpg);
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  o-backbround-size: cover;
  background-size: cover;}

/* Projects Page */
figcaption {
  font-size: 1.2rem;}
.wrapper {
  margin: auto;
  width: 780px;}
.project {
  float: left;
  height: 260px;
  margin: 0;
  width: 260px;
  }
.project figure {
  background-color: bisque;
  display: block;
  margin: 10px;
  padding: 1px;}

/* About Me Page */
.about{
  margin: auto;
  width: 780px;
  height: 330px;}
.about figure {
  float: left;
  width: 220px;
  height: 220px;
  text-align: center;}
.icon{
  display: inline-block;
  margin: 8px;}
.intro{
  margin-top: 57px;}
.intro p {
  font-size: 1.2rem;}






