/* All Pages */
body {
  background-color: #FFFBE5;
  color: #81768A;
  font-size: 16px;
  font-family: 'Abhaya Libre', serif;}
header {
  text-align: center;
  word-spacing: 3em;}
.header-picture {
  margin: 0.7rem;}
nav, footer {
  font-family: 'Josefin Slab', serif;}
nav a {
  color: #F6C3B6;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;}
h1 {
  color: #9FC791;
  font-family: 'Abhaya Libre', serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;}
a.navbar:hover {
  color: #C2998F;
  text-decoration: underline;}
a span { 
  word-spacing: normal;}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;}
nav li {
  display: inline-block;
  padding: 0.4rem;}


/* Home Page */
section.home {
  min-height: 500px;
  background-image: url(../images/homebackground.jpg);
  background-repeat: no-repeat;
  background-position: center center fixed;
  margin: 0 0 5rem 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  o-backbround-size: cover;
  background-size: cover;}
section.home span {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
  color: floralwhite;
  font-size: 2.15rem;
  font-weight: bold;
  line-height: 41px;
  padding: 10px; 
  position: relative;
  text-align: left;
  top: 200px;}


/* Projects Page */
figcaption {
  font-size: 1.2rem;}
.wrapper {
  margin: auto;
  width: 780px;}
.project {
  float: left;
  height: 260px;
  margin: 0 0 1rem 0;
  text-align: center;
  width: 260px;}
.project figure {
  background-color: whitesmoke;
  border-style: double;
  border-color: #9FA891
  display: block;
  margin: 1rem 1rem 5rem 1rem;
  padding: 1px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;}
.project figure:hover {
  margin-top: 3px;}


/* About Me Page */
.about{
  margin: auto;
  margin-bottom: 5rem;
  width: 780px;
  height: 330px;}
.about figure {
  float: left;
  width: 220px;
  height: 220px;
  text-align: center;}
.icon{
  display: inline-block;
  margin: 8px;}
.intro{
  line-height: 25px;
  margin-top: 57px;}
.intro p {
  font-size: 1.2rem;}


/* Footer */
footer { 
  background-color: #DAC7E8;
  clear: both;
  padding: 1.2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;}
footer li {
  display: inline-block;
  color: #81768A;}
footer a {
  color: #81768A;
  font-size: 1rem;}
  

