/* Text */
body {
  font-family: Georgia, serif;
  color: darkgoldenrod;
  font-size: 16px;}
h1 {
  font-family: helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  color: #FFB300;
  text-align: center;
  text-decoration: underline;}
nav a {
  color: #FA7A7A;
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;}
footer p, footer a {
  font-size: 1em;
  color: beige;}
section.home span {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px; 
  font-size: 1.8em;
  font-weight: bold;
  text-align: left;
  color: floralwhite;
  line-height: 41px;
  position: relative;
  top: 200px;}
.project { 
  font-family: courier, monospace;
  text-align: center;}
.intro { line-height: 25px;}

/* Layout & Style */
header {
  text-align: center;
  word-spacing: 3em;}
a span { word-spacing: normal;}
body { background-color: floralwhite;}
footer { 
  line-height: 15px;
  padding: 0.2px;
  background-color: #FFB300;
  clear: both;}

/* Home Background*/
section.home {
  min-height: 500px;
  background-image: url(../images/homebackground.jpg);
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  o-backbround-size: cover;
  background-size: cover;}

/* Projects Page */
.wrapper {
  width: 780px;
  margin: auto;}
.project {
  width: 260px;
  height: 260px;
  margin: 0px;
  float: left;}
.project figure {
  display: block;
  padding: 1px;
  margin: 10px;
  background-color: bisque;}

/* About Me Page */
.about{
  width: 780px;
  height: 330px;
  margin: auto;}
.about figure {
  width: 220px;
  height: 220px;
  float: left;
  text-align: center;}
.icon{
  display: inline-block;
  margin: 8px;}
.intro{margin-top: 57px;}






